rvl_alias "clk_i" "clk_i";
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
FREQUENCY NET "clk_i_c" 25.000000 MHz ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "clk_i" SITE "A10" ;
#LOCATE COMP "reset_n_i" SITE "V6"; #"H6" ; #
LOCATE COMP "reset_i" SITE "V6"; #"H6" ; #

LOCATE COMP "SRAM_nCS_o" SITE "Y4" ;
LOCATE COMP "SRAM_nWR_o" SITE "AB6" ;
LOCATE COMP "SRAM_nOE_o" SITE "AA6" ;
LOCATE COMP "SRAM_nBE_o_0" SITE "AA4" ;
LOCATE COMP "SRAM_nBE_o_1" SITE "AB4" ;
LOCATE COMP "SRAM_nBE_o_2" SITE "AA3" ;
LOCATE COMP "SRAM_nBE_o_3" SITE "AB3" ;

LOCATE COMP "SRAM_ADR_o_0" SITE "AB20" ;
LOCATE COMP "SRAM_ADR_o_1" SITE "AA20" ;
LOCATE COMP "SRAM_ADR_o_2" SITE "AB19" ;
LOCATE COMP "SRAM_ADR_o_3" SITE "AA19" ;
LOCATE COMP "SRAM_ADR_o_4" SITE "Y19" ;
LOCATE COMP "SRAM_ADR_o_5" SITE "AB18" ;
LOCATE COMP "SRAM_ADR_o_6" SITE "AA18" ;
LOCATE COMP "SRAM_ADR_o_7" SITE "Y18" ;
LOCATE COMP "SRAM_ADR_o_8" SITE "W18" ;
LOCATE COMP "SRAM_ADR_o_9" SITE "AB17" ;
LOCATE COMP "SRAM_ADR_o_10" SITE "AA17" ;
LOCATE COMP "SRAM_ADR_o_11" SITE "Y17" ;
LOCATE COMP "SRAM_ADR_o_12" SITE "W17" ;
LOCATE COMP "SRAM_ADR_o_13" SITE "V17" ;
LOCATE COMP "SRAM_ADR_o_14" SITE "U17" ;
LOCATE COMP "SRAM_ADR_o_15" SITE "AB16" ;
LOCATE COMP "SRAM_ADR_o_16" SITE "AA16" ;
LOCATE COMP "SRAM_ADR_o_17" SITE "Y16" ;
LOCATE COMP "SRAM_ADR_o_18" SITE "W16" ;
LOCATE COMP "SRAM_ADR_o_19" SITE "V16" ;
LOCATE COMP "SRAM_ADR_o_20" SITE "U16" ;
LOCATE COMP "SRAM_ADR_o_21" SITE "AB15" ;
LOCATE COMP "SRAM_ADR_o_22" SITE "AA15" ;
LOCATE COMP "SRAM_DB_io_0" SITE "Y15" ;
LOCATE COMP "SRAM_DB_io_1" SITE "W15" ;
LOCATE COMP "SRAM_DB_io_2" SITE "V15" ;
LOCATE COMP "SRAM_DB_io_3" SITE "U15" ;
LOCATE COMP "SRAM_DB_io_4" SITE "AB14" ;
LOCATE COMP "SRAM_DB_io_5" SITE "AA14" ;
LOCATE COMP "SRAM_DB_io_6" SITE "Y14" ;
LOCATE COMP "SRAM_DB_io_7" SITE "W14" ;
LOCATE COMP "SRAM_DB_io_8" SITE "AA13" ;
LOCATE COMP "SRAM_DB_io_9" SITE "Y13" ;
LOCATE COMP "SRAM_DB_io_10" SITE "AA11" ;
LOCATE COMP "SRAM_DB_io_11" SITE "Y11" ;
LOCATE COMP "SRAM_DB_io_12" SITE "W11" ;
LOCATE COMP "SRAM_DB_io_13" SITE "AA10" ;
LOCATE COMP "SRAM_DB_io_14" SITE "Y10" ;
LOCATE COMP "SRAM_DB_io_15" SITE "W10" ;
LOCATE COMP "SRAM_DB_io_16" SITE "V10" ;
LOCATE COMP "SRAM_DB_io_17" SITE "AB9" ;
LOCATE COMP "SRAM_DB_io_18" SITE "AA9" ;
LOCATE COMP "SRAM_DB_io_19" SITE "Y9" ;
LOCATE COMP "SRAM_DB_io_20" SITE "W9" ;
LOCATE COMP "SRAM_DB_io_21" SITE "V9" ;
LOCATE COMP "SRAM_DB_io_22" SITE "AB8" ;
LOCATE COMP "SRAM_DB_io_23" SITE "AA8" ;
LOCATE COMP "SRAM_DB_io_24" SITE "Y8" ;
LOCATE COMP "SRAM_DB_io_25" SITE "W8" ;
LOCATE COMP "SRAM_DB_io_26" SITE "V8" ;
LOCATE COMP "SRAM_DB_io_27" SITE "AB7" ;
LOCATE COMP "SRAM_DB_io_28" SITE "AA7" ;
LOCATE COMP "SRAM_DB_io_29" SITE "Y7" ;
LOCATE COMP "SRAM_DB_io_30" SITE "W7" ;
LOCATE COMP "SRAM_DB_io_31" SITE "V7" ;
LOCATE COMP "FLASH_nCE_o" SITE "Y5";
LOCATE COMP "FLASH_nWP_o" SITE "AB5"; 
LOCATE COMP "FLASH_RESET_o" SITE "Y6";
LOCATE COMP "FLASH_nBYTE_o" SITE "AA5";
LOCATE COMP "FLASH_nRYBY_i_0" SITE "W6";
LOCATE COMP "FLASH_nRYBY_i_1" SITE "W5";
IOBUF PORT "FLASH_nRYBY_i_0" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "FLASH_nRYBY_i_1" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_0" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_1" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_2" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_3" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_4" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_5" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_6" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_7" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_8" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_9" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_10" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_11" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_12" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_13" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_14" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_15" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_16" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_17" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_18" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_19" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_20" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_21" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_22" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_23" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_24" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_25" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_26" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_27" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_28" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_29" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_30" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "SRAM_DB_io_31" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "RxD_i" SITE "M2";
LOCATE COMP "TxD_o" SITE "L1"; 
LOCATE COMP "RTS_o" SITE "L2";
LOCATE COMP "CTS_i" SITE "M1";

LOCATE COMP "gpio_io_0" SITE "E3";
LOCATE COMP "gpio_io_1" SITE "E4";
LOCATE COMP "gpio_io_2" SITE "E5";
LOCATE COMP "gpio_io_3" SITE "F4";
LOCATE COMP "gpio_io_4" SITE "F5";
LOCATE COMP "gpio_io_5" SITE "G4";
LOCATE COMP "gpio_io_6" SITE "G5";
LOCATE COMP "gpio_io_7" SITE "H5";

BLOCK JTAGPATHS;
