COMMERCIAL;
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
FREQUENCY NET "clk_i_c" 40.000000 MHz ;
#FREQUENCY NET "clk_16" 16.000000 MHz ;
#FREQUENCY NET "gdp_clk" 40.000000 MHz ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nkc_nRD_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_DB_7" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_6" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_5" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_3" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "driver_nEN_o" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "reset_n_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SRAM1_nOE" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_nWR" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_DB_7" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM1_DB_6" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM1_DB_5" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM1_DB_4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM1_DB_3" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM1_DB_2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM1_DB_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM1_DB_0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM1_ADR_16" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_15" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_14" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_13" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_12" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_11" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_10" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_9" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_8" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_7" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_6" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_5" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_ADR_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_nCS" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM1_nCS1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Vsync_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW ;
IOBUF PORT "Hsync_o" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "Blue_o_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Blue_o_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Blue_o_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Green_o_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Green_o_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Green_o_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Red_o_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Red_o_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Red_o_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "driver_DIR_o" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nkc_nIORQ_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_nWR_i" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk_i" SITE "24" ;
LOCATE COMP "reset_n_i" SITE "62" ;
LOCATE COMP "nkc_nWR_i" SITE "58" ;
LOCATE COMP "nkc_nRD_i" SITE "57" ;
LOCATE COMP "nkc_nIORQ_i" SITE "60" ;
LOCATE COMP "nkc_DB_7" SITE "45" ;
LOCATE COMP "nkc_DB_6" SITE "43" ;
LOCATE COMP "nkc_DB_5" SITE "42" ;
LOCATE COMP "nkc_DB_4" SITE "41" ;
LOCATE COMP "nkc_DB_3" SITE "40" ;
LOCATE COMP "nkc_DB_2" SITE "35" ;
LOCATE COMP "nkc_DB_1" SITE "34" ;
LOCATE COMP "nkc_DB_0" SITE "33" ;
LOCATE COMP "nkc_ADDR_i_7" SITE "55" ;
LOCATE COMP "nkc_ADDR_i_6" SITE "53" ;
LOCATE COMP "nkc_ADDR_i_5" SITE "52" ;
LOCATE COMP "nkc_ADDR_i_4" SITE "51" ;
LOCATE COMP "nkc_ADDR_i_3" SITE "50" ;
LOCATE COMP "nkc_ADDR_i_2" SITE "48" ;
LOCATE COMP "nkc_ADDR_i_1" SITE "47" ;
LOCATE COMP "nkc_ADDR_i_0" SITE "46" ;
LOCATE COMP "driver_nEN_o" SITE "32" ;
LOCATE COMP "driver_DIR_o" SITE "31" ;
LOCATE COMP "Vsync_o" SITE "70" ;
LOCATE COMP "SRAM1_nWR" SITE "103" ;
LOCATE COMP "SRAM1_nOE" SITE "120" ;
LOCATE COMP "SRAM1_nCS" SITE "122" ;
LOCATE COMP "SRAM1_nCS1" SITE "132" ;
LOCATE COMP "SRAM1_DB_7" SITE "117" ;
LOCATE COMP "SRAM1_DB_6" SITE "115" ;
LOCATE COMP "SRAM1_DB_5" SITE "113" ;
LOCATE COMP "SRAM1_DB_4" SITE "104" ;
LOCATE COMP "SRAM1_DB_3" SITE "105" ;
LOCATE COMP "SRAM1_DB_2" SITE "114" ;
LOCATE COMP "SRAM1_DB_1" SITE "116" ;
LOCATE COMP "SRAM1_DB_0" SITE "118" ;
LOCATE COMP "SRAM1_ADR_16" SITE "130" ;
LOCATE COMP "SRAM1_ADR_15" SITE "128" ;
LOCATE COMP "SRAM1_ADR_14" SITE "125" ;
LOCATE COMP "SRAM1_ADR_13" SITE "123" ;
LOCATE COMP "SRAM1_ADR_12" SITE "102" ;
LOCATE COMP "SRAM1_ADR_11" SITE "99" ;
LOCATE COMP "SRAM1_ADR_10" SITE "96" ;
LOCATE COMP "SRAM1_ADR_9" SITE "94" ;
LOCATE COMP "SRAM1_ADR_8" SITE "92" ;
LOCATE COMP "SRAM1_ADR_7" SITE "93" ;
LOCATE COMP "SRAM1_ADR_6" SITE "95" ;
LOCATE COMP "SRAM1_ADR_5" SITE "97" ;
LOCATE COMP "SRAM1_ADR_4" SITE "100" ;
LOCATE COMP "SRAM1_ADR_3" SITE "124" ;
LOCATE COMP "SRAM1_ADR_2" SITE "126" ;
LOCATE COMP "SRAM1_ADR_1" SITE "129" ;
LOCATE COMP "SRAM1_ADR_0" SITE "131" ;
LOCATE COMP "Red_o_2" SITE "80" ;
LOCATE COMP "Red_o_1" SITE "81" ;
LOCATE COMP "Red_o_0" SITE "82" ;
LOCATE COMP "Green_o_2" SITE "77" ;
LOCATE COMP "Green_o_1" SITE "78" ;
LOCATE COMP "Green_o_0" SITE "79" ;
LOCATE COMP "Hsync_o" SITE "71" ;
LOCATE COMP "Blue_o_2" SITE "72" ;
LOCATE COMP "Blue_o_1" SITE "74" ;
LOCATE COMP "Blue_o_0" SITE "76" ;
LOCATE COMP "RxD_i" SITE "69" ;
LOCATE COMP "TxD_o" SITE "67" ;
LOCATE COMP "RTS_o" SITE "66" ;
LOCATE COMP "CTS_i" SITE "65" ;
#LOCATE COMP "debug_o_0" SITE "134" ;
#LOCATE COMP "debug_o_1" SITE "135" ;
#LOCATE COMP "debug_o_2" SITE "137" ;
#LOCATE COMP "debug_o_3" SITE "138" ;
#LOCATE COMP "debug_o_4" SITE "139" ;
#LOCATE COMP "debug_o_5" SITE "140" ;
#LOCATE COMP "debug_o_6" SITE "141" ;
#LOCATE COMP "debug_o_7" SITE "4" ;
#LOCATE COMP "debug_o_8" SITE "5" ;
#LOCATE COMP "debug_o_9" SITE "6" ;
#LOCATE COMP "debug_o_10" SITE "7" ;
#LOCATE COMP "debug_o_11" SITE "9" ;
#LOCATE COMP "debug_o_12" SITE "10" ;
#LOCATE COMP "debug_o_13" SITE "12" ;
#LOCATE COMP "debug_o_14" SITE "13" ;
#LOCATE COMP "debug_o_15" SITE "15" ;
#LOCATE COMP "sample_clk_o" SITE "17" ;
#LOCATE COMP "addr_sel_i" SITE "29" ;
#IOBUF PORT "addr_sel_i" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "Ps2Clk_io" SITE "84" ;
LOCATE COMP "Ps2Dat_io" SITE "83" ;
IOBUF PORT "Ps2Clk_io" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Ps2Dat_io" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
#LOCATE COMP "FDD_DIRCn" SITE "134" ;
#LOCATE COMP "FDD_DSELn_0" SITE "135" ;
#LOCATE COMP "FDD_DSELn_1" SITE "137" ;
#LOCATE COMP "FDD_DSELn_2" SITE "138" ;
#LOCATE COMP "FDD_DSELn_3" SITE "139" ;
#LOCATE COMP "FDD_IPn" SITE "140" ;
#LOCATE COMP "FDD_MOn" SITE "141" ;
#LOCATE COMP "FDD_RDn" SITE "4" ;
#LOCATE COMP "FDD_SDSEL" SITE "5" ;
#LOCATE COMP "FDD_SIDE" SITE "6" ;
#LOCATE COMP "FDD_STEPn" SITE "7" ;
#LOCATE COMP "FDD_TR00n" SITE "9" ;
#LOCATE COMP "FDD_WDn" SITE "10" ;
#LOCATE COMP "FDD_WGn" SITE "12" ;
#LOCATE COMP "FDD_WPRTn" SITE "13" ;
#IOBUF PORT "FDD_IPn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#IOBUF PORT "FDD_RDn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#IOBUF PORT "FDD_TR00n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#IOBUF PORT "FDD_WPRTn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#IOBUF PORT "RxD_i" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#IOBUF PORT "FDD_DIRCn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#IOBUF PORT "FDD_MOn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#IOBUF PORT "FDD_SIDE" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#IOBUF PORT "FDD_STEPn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#IOBUF PORT "FDD_WDn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#IOBUF PORT "FDD_WGn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "Ps2MouseClk_io" SITE "87" ;
LOCATE COMP "Ps2MouseDat_io" SITE "86" ;
IOBUF PORT "Ps2MouseClk_io" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Ps2MouseDat_io" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "PWM_OUT_o" SITE "89" ;
#PCICLAMP possible on I/O Bank 0,1,4,5
LOCATE COMP "SD_MOSI_o" SITE "25" ;
LOCATE COMP "SD_nCS_o_2" SITE "18" ;  # ext7
LOCATE COMP "SD_nCS_o_1" SITE "23" ;
LOCATE COMP "SD_nCS_o_0" SITE "22" ;
LOCATE COMP "SD_MISO_i" SITE "30" ;
IOBUF PORT "SD_MISO_i" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "nIRQ_o" SITE "63" ;
IOBUF PORT "nIRQ_o" IO_TYPE=LVCMOS33 PULLMODE=NONE PCICLAMP=OFF OPENDRAIN=ON ;
LOCATE COMP "SD_SCK_o" SITE "27" ;
#LOCATE COMP "VDIP_MOSI_o" SITE "26" ;
#LOCATE COMP "VDIP_CS_o" SITE "18" ;
#LOCATE COMP "VDIP_MISO_i" SITE "16" ;
#IOBUF PORT "VDIP_MISO_i" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#LOCATE COMP "VDIP_SCK_o" SITE "29" ;
LOCATE COMP "GPIO_io_0" SITE "15";  #EXT10
LOCATE COMP "GPIO_io_1" SITE "13";  #EXT11
LOCATE COMP "GPIO_io_2" SITE "12";  #EXT12
LOCATE COMP "GPIO_io_3" SITE "10";  #EXT13
LOCATE COMP "GPIO_io_4" SITE "9" ;  #EXT14
LOCATE COMP "GPIO_io_5" SITE "7" ;  #EXT15
LOCATE COMP "GPIO_io_6" SITE "6" ;  #EXT16
LOCATE COMP "GPIO_io_7" SITE "5" ;  #EXT17

IOBUF PORT "GPIO_io_0" PULLMODE=UP ;  #EXT10
IOBUF PORT "GPIO_io_1" PULLMODE=UP ;  #EXT11
IOBUF PORT "GPIO_io_2" PULLMODE=UP ;  #EXT12
IOBUF PORT "GPIO_io_3" PULLMODE=UP ;  #EXT13
IOBUF PORT "GPIO_io_4" PULLMODE=UP ;  #EXT14
IOBUF PORT "GPIO_io_5" PULLMODE=UP ;  #EXT15
IOBUF PORT "GPIO_io_6" PULLMODE=UP ;  #EXT16
IOBUF PORT "GPIO_io_7" PULLMODE=UP ;  #EXT17


#set_output_delay 5 -max -clock [get_clocks clk_i_c] [get_ports SRAM1_ADR*]
MAXDELAY NET "*SRAM1_*" 2 ns ;
#MAXDELAY FROM "clk_i_c" to CELL "*SRAM1_ADDR*" 2 ns ;
MAXDELAY FROM PORT "SRAM1_nCS*" TO PORT "SRAM1_DB*" 18 NS;
MAXDELAY FROM PORT "SRAM1_nOE" TO PORT "SRAM1_DB*" 18 NS;


# Time of rising edge of clk_i -> signal on output pad -> not relevant for SRAM
#CLOCK_TO_OUT PORT "*SRAM1_*" 2.000000 ns MIN 0.000000 ns CLKNET "clk_i_c"; # CLKOUT PORT "*SRAM1_*" ;

